# Devenv
.devenv*
devenv.local.nix
.direnv
.pre-commit-config.yaml
/.envrc.local

# Local environment
.env
/aws_config
/instances.json

# Editor / LSP
flycheck*

# Go build artifacts
/ec2cp
/.go/
/ec2_env
