# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
*.pyc
__pycache__
/.envrc.local
/.python-version
/instances/
/__marimo__/
/.env
/aws_config
flycheck*
/.venv/
/mise.local.toml
/src/ec2_control_panel.egg-info/
